.navbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.navbar h2 {
  text-align: center;
  margin: 0;
}

.login-button,
.api-button {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.content {
  text-align: center;
  padding: 50px 20px;
}

.content h1 {
  margin-top: 0;
}

.api-response-box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #272822;
  border-radius: 5px;
}
